@model CuaHangTheThao.Models.DoTheThao

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>DoTheThao</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            Tên Hàng
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Title)
        </dd>
        <dt class = "col-sm-2">
            Ngày Mua Hàng
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.ReleaseDate)
        </dd>
        <dt class = "col-sm-2">
            Size
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Genre)
        </dd>
        <dt class = "col-sm-2">
           Giá
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Price)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model.Id">Sửa đơn hàng</a> |
    <a asp-action="Index">Quay lại</a>
</div>
